.header{
    width: 100%;
    height: 75px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header li{
    list-style: none;
}
.info{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.info:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 0 red;

}
.user_info{
    width: 300px;
    display: flex;
}