.container{
    width: 100%;
    min-height: 500px;
    background: black;
}
.container-wrapper{
    width: 1300px;
    min-height: 500px;
    margin: 0 auto;
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search{
    width: 100%;
    height: 45px;
    background: black;
    display: flex;
    justify-content: center;
}
.search input{
    margin-top: 10px ;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
.pages{
    width: 100%;
    height: 50px;
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}